*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
::-webkit-Scrollbar{
	width: 10px;		
}
::-webkit-Scrollbar-track{
	background: rgb(153, 230, 255);
	border-radius: 30px;
}
::-webkit-Scrollbar-thumb{
	background: rgb(26, 198, 255);
	border-radius: 30px;
}
::-webkit-Scrollbar-thumb:hover{
	background: rgb(0, 115, 153, 0.7);
}

/* -------- Navigation bar ---------*/

nav{
	height: 4.3rem;
	width:100%;
	background: rgba(0,0,0,0.7);
	display:flex;
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
	
	
}
nav img{
	width: 10rem;
}
.navi{
	flex:1;
	
}
.sign{
	float:right;
	
}

.navi ul li{
	list-style: none;	
	display: inline-block;
	padding: 0.5rem 1rem;
	position: relative;	
}
.navi ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 1.25rem;
}
.navi ul li::after{
	content:'';
	width: 0%;
	height: 0.125rem;
	background: #f44336;
	display: block;
	margin: auto;
	transition:0.5s;
}
.navi ul li:hover::after{
	width:100%;
		
}
.navi ul li a:hover{
	color: #80bfff;
}
nav .fa{
	display:none;
}


/*-----------Footer---------------*/
.footer{
	width:100%;	
	background-image:url(../images/footer.jpg);
	background-size: cover;
	position: relative;
	background-color:rgba(4,9,30,0.7);
	background-blend-mode: darken;
	height: 18.6rem;
	padding: 3.6% 10%;
	justify-content: space-between;
	align-items: center;
}

.main{
	display:flex;
	flex-wrap: wrap;
}
.info{
	padding: 0.6rem 0rem;
		
}
.col{
	width:25%;
	
	
}
.col h4{
	font-size: 1.3rem;
	color:#fff;	
	position: relative;
}
.col h4::before{
	content:'';
	position: absolute;
	width: 25%;
	height: 0.15rem;
	left: 0;
	bottom: -0.2rem;
	background: #f44336;
	margin: auto;
	
}
.col ul li{
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
	list-style: none;
	
	
}
.col ul li a{
	color:#fff;
	display: block;
	text-decoration:none;
	font-size: 1rem;
}
.col ul li a:hover{
	color:yellow;
}
.col .social{
	padding-top: 0.6rem;
	width: 13rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.col .social a{
	height: 2.5rem;
	width: 2.5rem;
	background: #0066ff;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.9rem;
	border-radius: 50%; 
	font-size: 1.5rem;
	text-decoration:none;
	transition: .4s;
}
.col .social a:hover{
	transform: scale(1.2);
	color:black;
	background:#fff;
}
.info p{
	text-align: center;
	color: #fff;
	font-style:italic;
	font-size: 0.85rem;
}
.rights{
		margin-top:6px;
	}
	
	
	
	
@media(max-width:1000px){
	.footer{			
		height: 18rem;
	}
	nav img{
		width: 8rem;
	}
	
}	
	
@media(max-width:768px){
	.navi ul li{
		display:block;
	}	
	.navi{
		position: fixed;
		background: rgba(0,0,0,0.9);
		height:100vh;
		width: 50%;
		top: 0;
		right: -50%;
		text-align: left;
		z-index:2;
		transition: .4s;
	}
	.sign{
		float:none;
	}	 
	nav .fa{
		display:block;
		color:#fff;
		margin: 1.2rem;
		font-size: 1.8rem;
		cursor: pointer;
	}	
	.navi ul li{
		padding: 20px;
		padding-right:20px
	}
	.navi ul li a{
		font-size: 1.5rem;
		padding-left:20px
	}
	.footer{			
		height: 30rem;	
		padding: 3.6% 10%;
		justify-content: space-between;
		align-items: center;
	}
	.rights{
		margin-top:7px;
	}
	.col{
		width:50%;
		margin-bottom:30px;
	}
	
	
}

@media(max-width:430px){
	.footer{		
		height: 46rem;	
		padding: 3.6% 10%;
		justify-content: space-between;
		align-items: center;
	}
	nav img{
		width: 8rem;
	}
	.col{
		width:100%;
		margin-bottom:30px;
	}
	
}
@media(max-width:324px){
	.navi ul li a{
		font-size: 1.2rem;
		padding-left:20px
	}
}